#ifndef {{ model.include_guard }}
#define {{ model.include_guard }}


// System includes
{% for inc in model.includes_h.system %}
#include <{{ inc }}>
{% endfor %}

// Project includes
{% for inc in model.includes_h.project %}
#include "{{ inc }}"
{% endfor %}


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# Class start #}
/// @brief {{ model.description }}
class {{ model.name }}{% if model.inherits %} :
{% for b in model.inherits %}
{{ tab }}{% if b.virtual %}virtual {% endif -%}
{{ b.visibility }} {{ b.name }}{% if not loop.last %},{% endif %}

{% endfor %}
{% endif %}
{
// -- Constructors & Destructor --
public:
{% for c in model.constructors %}

{{tab}}/// @brief {{ c.description }}
{% for p in c.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{{ model.name }}(
{%- for p in c.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if c.type.stereotypes.noexcept %} noexcept{% endif -%};
{% endfor %}

{{tab}}/// @brief {{ model.destructor.description }}
{{tab}}{%- if model.destructor.type.stereotypes.virtual or model.destructor.type.stereotypes.virtual_0 %}virtual {% endif -%}
~{{ model.name }}()
{%- if model.destructor.type.stereotypes.noexcept %} noexcept{% endif -%}
{%- if model.destructor.type.stereotypes.virtual_0 %} = 0{% endif -%};

// -- Members --
{# Public members #}
public:
{% for m in model.members.public %}

{{tab}}/// @brief {{ m.description }}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{%- if m.type.stereotypes.pointer %}*{% endif -%}
{%- if m.type.stereotypes.lval_reference %}&{% endif -%}
{{ m.name }};
{% endfor %}

{# Protected members #}
protected:
{% for m in model.members.protected %}

{{tab}}/// @brief {{ m.description }}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{%- if m.type.stereotypes.pointer %}*{% endif -%}
{%- if m.type.stereotypes.lval_reference %}&{% endif -%}
{{ m.name }};
{% endfor %}

{# Private members #}
private:
{% for m in model.members.private %}

{{tab}}/// @brief {{ m.description }}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{%- if m.type.stereotypes.pointer %}*{% endif -%}
{%- if m.type.stereotypes.lval_reference %}&{% endif -%}
{{ m.name }};
{% endfor %}

// -- Methods --
{# Public methods #}
public:
{% for m in model.methods.public %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.virtual or m.type.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.type.stereotypes.immutable %} const{% endif -%}
{%- if m.type.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.type.stereotypes.override %} override{% endif -%}
{%- if m.type.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

{# Protected methods #}
protected:
{% for m in model.methods.protected %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.virtual or m.type.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.type.stereotypes.immutable %} const{% endif -%}
{%- if m.type.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.type.stereotypes.override %} override{% endif -%}
{%- if m.type.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

{# Private methods #}
private:
{% for m in model.methods.private %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{%- if m.type.stereotypes.static %}static {% endif -%}
{%- if m.type.stereotypes.virtual or m.type.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.type.stereotypes.const %}const {% endif -%}
{%- if m.type.stereotypes.volatile %}volatile {% endif -%}
{%- if m.type.name %}{{ m.type.name }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.type.stereotypes.immutable %} const{% endif -%}
{%- if m.type.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.type.stereotypes.override %} override{% endif -%}
{%- if m.type.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

}; // class {{ model.name }}
{# Class end #}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}


#endif // {{ model.include_guard }}

