{# Constructors #}
public:
{% for c in model.constructors %}

{{tab}}/// @brief {{ c.description }}
{% for p in c.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{{ model.name }}(
{%- for p in c.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if c.stereotypes.noexcept %} noexcept{% endif -%};
{% endfor %}

{# Destructor #}
{{tab}}/// @brief {{ model.destructor.description }}
{% for p in model.destructor.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{% if model.destructor.stereotypes.virtual or model.destructor.stereotypes.virtual_0 %}virtual {% endif -%}
~{{ model.name }}()
{%- if model.destructor.stereotypes.noexcept %} noexcept{% endif -%}
{%- if model.destructor.stereotypes.override %} override{% endif -%}
{%- if model.destructor.stereotypes.virtual_0 %} = 0{% endif -%};