#include "{{ model.name }}.h"


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# Public methods #}
// public methods --START--

{% for m in model.methods.public %}
{{ m.ret }} {{ model.name }}::{{ m.name }}({{ m.args }}){% if m.const %} const {% endif %}{% if m.noexcept %} noexcept {% endif %}

{
    // TODO: implement
}

{% endfor %}
// public methods --END--

{# Protected methods #}
// protected methods --START--

{% for m in model.methods.protected %}
{{ m.ret }} {{ model.name }}::{{ m.name }}({{ m.args }}){% if m.const %} const {% endif %}{% if m.noexcept %} noexcept {% endif %}

{
    // TODO: implement
}

{% endfor %}
// protected methods --END--

{# Private methods #}
// private methods --START--

{% for m in model.methods.private %}
{{ m.ret }} {{ model.name }}::{{ m.name }}({{ m.args }}){% if m.const %} const {% endif %}{% if m.noexcept %} noexcept {% endif %}

{
    // TODO: implement
}

{% endfor %}
// private methods --END--


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}

