{% import "utils.j2" as utils %}
#include "{{ model.name }}.h"


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


// -- Constructors & Destructor --
{% for c in model.constructors %}

{{ utils.generate_class_constructor_cpp(c, model.name, tab) }}
{% endfor %}

{{ utils.generate_class_destructor_cpp(model.name, tab) }}

{# Public methods #}
// -- Public Methods --
{% for m in model.methods.public %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

{# Protected methods #}
// -- Protected Methods --
{% for m in model.methods.protected %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

{# Private methods #}
// -- Private Methods --
{% for m in model.methods.private %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}
