#ifndef {{ model.include_guard }}
#define {{ model.include_guard }}


{% for inc in model.includes %}
#include <{{ inc }}>
{% endfor %}


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# Class start #}
/// @brief {{ model.description }}
class {{ model.name }}
{% if model.inherits %}
{{tab}}: public {{ model.inherits[0] }}
{% for b in model.inherits[1:] %}
{{tab}}, public {{ b }}
{% endfor %}
{% endif %}
{
// -- Members --
{# Public members #}
public:
{% for a in model.members.public %}

{{tab}}/// @brief {{ a.description }}
{{tab}}{{ a.type }} {{ a.name }};
{% endfor %}

{# Protected members #}
protected:
{% for a in model.members.protected %}

{{tab}}/// @brief {{ a.description }}
{{tab}}{{ a.type }} {{ a.name }};
{% endfor %}

{# Private members #}
private:
{% for a in model.members.private %}

{{tab}}/// @brief {{ a.description }}
{{tab}}{{ a.type }} {{ a.name }};
{% endfor %}

// -- Methods --
{# Public methods #}
public:
{% for m in model.methods.public %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{% if m.stereotypes.virtual or m.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.stereotypes.override %} override{% endif -%}
{%- if m.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

{# Protected methods #}
protected:
{% for m in model.methods.protected %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{% if m.stereotypes.virtual or m.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.stereotypes.override %} override{% endif -%}
{%- if m.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

{# Private methods #}
private:
{% for m in model.methods.private %}

{{tab}}/// @brief {{ m.description }}
{% for p in m.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{% if m.stereotypes.virtual or m.stereotypes.virtual_0 %}virtual {% endif -%}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif -%}
{%- if m.stereotypes.override %} override{% endif -%}
{%- if m.stereotypes.virtual_0 %} = 0{% endif -%};
{% endfor %}

}; // class {{ model.name }}
{# Class end #}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}


#endif // {{ model.include_guard }}

