#include "{{ model.name }}.h"


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# Public methods #}
// Public Methods

{% for m in model.methods.public %}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ model.name }}::{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif %}

{
{{tab}}// TODO: implement
}

{% endfor %}

{# Protected methods #}
// Protected Methods

{% for m in model.methods.protected %}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ model.name }}::{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif %}

{
{{tab}}// TODO: implement
}

{% endfor %}

{# Private methods #}
// Private Methods

{% for m in model.methods.private %}
{%- if m.return_type %}{{ m.return_type }} {% endif -%}
{{ model.name }}::{{ m.name }}(
{%- for p in m.params -%}
{{ p.type }} {{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if m.stereotypes.const %} const{% endif -%}
{%- if m.stereotypes.noexcept %} noexcept{% endif %}

{
{{tab}}// TODO: implement
}
{% endfor %}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}
