{% import "utils.j2" as utils %}
{# ============================================================================= Comment block for file header #}
{{ utils.generate_file_header(name_and_version, source, file, timestamp) }}


{# ================================================================================ Comment block for Includes #}
{{ utils.generate_comment_block(title="Includes") }}
{# ============================================================================================== Add Includes #}
#include "{{ model.name }}.h"


{# =========================================================================================== Open namespaces #}
{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# ================================================================= Comment block for Constructors/Destructor #}
{{ utils.generate_comment_block(title="Constructors/Destructor") }}
{# =============================================================================== Add Constructors/Destructor #}
{% for c in model.constructors %}

{{ utils.generate_class_constructor_cpp(c, model.name, tab) }}
{% endfor %}

{{ utils.generate_class_destructor_cpp(model.name, tab) }}

{# ========================================================================== Comment block for Public Methods #}
{{ utils.generate_comment_block(title="Public Methods") }}
{# ======================================================================================== Add Public Methods #}
{% for m in model.methods.public %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

{# ========================================================================== Comment block for Public Methods #}
{{ utils.generate_comment_block(title="Protected Methods") }}
{# ======================================================================================== Add Public Methods #}
{% for m in model.methods.protected %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

{# ========================================================================== Comment block for Public Methods #}
{{ utils.generate_comment_block(title="Private Methods") }}
{# ======================================================================================== Add Public Methods #}
{% for m in model.methods.private %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}


{# ========================================================================================== Close namespaces #}
{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}
