{% import "utils.j2" as utils %}
// --------------------------------------------------
// Source includes
// --------------------------------------------------
#include "{{ model.name }}.h"


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


// --------------------------------------------------
// -- Constructors & Destructor --
// --------------------------------------------------
{% for c in model.constructors %}

{{ utils.generate_class_constructor_cpp(c, model.name, tab) }}
{% endfor %}

{{ utils.generate_class_destructor_cpp(model.name, tab) }}

// --------------------------------------------------
// -- Public Methods --
// --------------------------------------------------
{% for m in model.methods.public %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

// --------------------------------------------------
// -- Protected Methods --
// --------------------------------------------------
{% for m in model.methods.protected %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}

// --------------------------------------------------
// -- Private Methods --
// --------------------------------------------------
{% for m in model.methods.private %}

{{ utils.generate_class_method_cpp(m, model.name, tab) }}
{% endfor %}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}
