{% import "utils.j2" as utils %}
{# ============================================================================= Comment block for file header #}
{{ utils.generate_file_header(name_and_version, source, file, timestamp) }}


{# ======================================================================================== Open include guard #}
#ifndef {{ model.include_guard }}
#define {{ model.include_guard }}


{# =========================================================================================== Open namespaces #}
{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# ================================================================================================= Open enum #}
/// @brief {{ model.description }}
enum class {{ model.name }}
{

{# ================================================================================================ Close enum #}
}; // enum class {{ model.name }}


{# ========================================================================================== Close namespaces #}
{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}


{# ======================================================================================= Close include guard #}
#endif // {{ model.include_guard }}

