{% import "utils.j2" as utils %}

{{ utils.generate_file_header("TODO", tab) }}

#ifndef {{ model.include_guard }}
#define {{ model.include_guard }}


// ----------------------------------------------------------------------------------------------------
// -------------------------------------------- Includes ----------------------------------------------
// ----------------------------------------------------------------------------------------------------
{% for inc in model.includes_h.system %}
#include <{{ inc }}>
{% endfor %}
{% for inc in model.includes_h.project %}
#include "{{ inc }}"
{% endfor %}


{% for ns in model.namespaces %}
namespace {{ ns }} {
{% endfor %}


{# Class start #}
/// @brief {{ model.description }}
class {{ model.name }}{% if model.inherits %} :
{% for b in model.inherits %}
{{ tab }}{% if b.virtual %}virtual {% endif -%}
{{ b.visibility }} {{ b.name }}{% if not loop.last %},{% endif %}

{% endfor %}
{
{% else %}

{
{% endif %}

// ----------------------------------------------------------------------------------------------------
// ------------------------------------- Constructors/Destructor --------------------------------------
// ----------------------------------------------------------------------------------------------------
public:

{{ utils.generate_interface_constructor_h(model.name, tab) }}

{{ utils.generate_interface_destructor_h(model.name, tab) }}

// ----------------------------------------------------------------------------------------------------
// ------------------------------------------- Properties ---------------------------------------------
// ----------------------------------------------------------------------------------------------------
public:
{% for m in model.methods.public %}

{{ utils.generate_interface_method_h(m, tab) }}
{% endfor %}

}; // class {{ model.name }}
{# Class end #}


{% for ns in model.namespaces | reverse %}
} // namespace {{ ns }}
{% endfor %}


#endif // {{ model.include_guard }}

