{# =================== Class Member H =================== #}
{% macro generate_class_member_h(member, tab) -%}
{{tab}}/// @brief {{ member.description }}
{{tab}}{%- if member.type.stereotypes.static %}static {% endif -%}
{%- if member.type.stereotypes.const %}const {% endif -%}
{%- if member.type.stereotypes.volatile %}volatile {% endif -%}
{%- if member.type.name %}{{ member.type.name }} {% endif -%}
{%- if member.type.stereotypes.pointer %}*{% endif -%}
{%- if member.type.stereotypes.lval_reference %}&{% endif -%}
{{ member.name }};
{%- endmacro %}


{# =================== Class Method H =================== #}
{% macro generate_class_method_h(method, tab) -%}
{{tab}}/// @brief {{ method.description }}
{% for p in method.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{%- if method.type.stereotypes.static %}static {% endif -%}
{%- if method.type.stereotypes.const %}const {% endif -%}
{%- if method.type.stereotypes.volatile %}volatile {% endif -%}
{%- if method.type.name %}{{ method.type.name }} {% endif -%}
{{ method.name }}(
{%- for p in method.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if method.type.stereotypes.immutable %} const{% endif -%}
{%- if method.type.stereotypes.noexcept %} noexcept{% endif -%}
{%- if method.type.stereotypes.override %} override{% endif -%};
{%- endmacro %}


{# =================== Class Method CPP =================== #}
{% macro generate_class_method_cpp(method, modelname, tab) -%}
/// @brief {{ method.description }}
{% for p in method.params %}
/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{%- if method.type.stereotypes.const %}const {% endif -%}
{%- if method.type.stereotypes.volatile %}volatile {% endif -%}
{%- if method.type.name %}{{ method.type.name }} {% endif -%}
{{ modelname }}::{{ method.name }}(
{%- for p in method.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if method.type.stereotypes.immutable %} const{% endif -%}
{%- if method.type.stereotypes.noexcept %} noexcept{% endif %}

{
{{tab}}// TODO: implement
}
{%- endmacro %}


{# =================== Class Constructor H =================== #}
{% macro generate_class_constructor_h(constructor, modelname, tab) -%}
{{tab}}/// @brief {{ constructor.description }}
{% for p in constructor.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}{{ modelname }}(
{%- for p in constructor.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if constructor.type.stereotypes.noexcept %} noexcept{% endif -%};
{%- endmacro %}


{# =================== Class Constructor CPP =================== #}
{% macro generate_class_constructor_cpp(constructor, modelname, tab) -%}
/// @brief {{ constructor.description }}
{% for p in constructor.params %}
/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{ modelname }}::{{ modelname }}(
{%- for p in constructor.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if constructor.type.stereotypes.noexcept %} noexcept{% endif %}

{
{{tab}}// TODO: implement
}
{%- endmacro %}


{# =================== Class Destructor H =================== #}
{% macro generate_class_destructor_h(modelname, tab) -%}
{{tab}}/// @brief Destructor of {{ modelname }}
{{tab}}~{{ modelname }}() noexcept;
{%- endmacro %}


{# =================== Class Destructor CPP =================== #}
{% macro generate_class_destructor_cpp(modelname, tab) -%}
/// @brief Destructor of {{ modelname }}
{{ modelname }}::~{{ modelname }}() noexcept
{
{{tab}}// TODO: implement
}
{%- endmacro %}


{# =================== Interface Method H =================== #}
{% macro generate_interface_method_h(method, tab) -%}
{{tab}}/// @brief {{ method.description }}
{% for p in method.params %}
{{tab}}/// @param {{ p.name }} {{ p.description }}
{% endfor %}
{{tab}}virtual {%- if method.type.stereotypes.const %}const {% endif -%}
{%- if method.type.stereotypes.volatile %}volatile {% endif -%}
{%- if method.type.name %}{{ method.type.name }} {% endif -%}
{{ method.name }}(
{%- for p in method.params -%}
{%- if p.type.stereotypes.const %}const {% endif -%}
{%- if p.type.stereotypes.volatile %}volatile {% endif -%}
{%- if p.type.name %}{{ p.type.name }} {% endif -%}
{%- if p.type.stereotypes.pointer %}*{% endif -%}
{%- if p.type.stereotypes.lval_reference %}&{% endif -%}
{%- if p.type.stereotypes.rval_reference %}&&{% endif -%}
{{ p.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
)
{%- if method.type.stereotypes.immutable %} const{% endif -%}
{%- if method.type.stereotypes.noexcept %} noexcept{% endif -%} = 0;
{%- endmacro %}


{# =================== Interface Destructor H =================== #}
{% macro generate_interface_destructor_h(modelname, tab) -%}
/// @brief Destructor of {{ modelname }}
{{tab}}virtual ~{{ modelname }}() noexcept = default;
{%- endmacro %}
